<?xml version='1.0' encoding='utf-8'?>
<widget id="sri.venkateswara.suprabhatam.spiritual" version="1.1.0" versionCode="1" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
  <name>Sri Venkateswara Suprabhatam</name>
  <description>
    Play Venkateswara Suprabatham in telugu and start your everyday with a spiritual song.
  </description>
  <author email="uvtechnolab@gmail.com" href="www.uvtechnolab.com">UVTechnoLab</author>
  <content src="index.html" />
  <access origin="*" />
  <preference name="LogLevel" value="VERBOSE"/>
  <preference name="debuggable" value="true"/>
  
  <gap:plugin name="phonegap-admob" source="npm" />
  
  <icon src="res/icons/image-512.png" />  
  
  <platform name="android">
    <icon src="res/icons/android/ic_launcher_ldpi.png" density="ldpi" />
    <icon src="res/icons/android/ic_launcher_mdpi.png" density="mdpi" />
    <icon src="res/icons/android/ic_launcher_hdpi.png" density="hdpi" />
    <icon src="res/icons/android/ic_launcher_xhdpi.png" density="xhdpi" />
    <icon src="res/icons/android/ic_launcher_xxhdpi.png" density="xxhdpi" />
    <icon src="res/icons/android/ic_launcher_xxxhdpi.png" density="xxxhdpi" />
  </platform>
   
</widget>
